%li.collection-item
  %i.material-icons.prefix perm_identity
  %span{:style => "color: red;"}
    = current_user.email
  Ha Actualizado una orden
  - if activity.trackable
    %b Detalle:
    = link_to activity.trackable.id, activity.trackable
%br
