%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br


  %br
  %h3.container{:style => "margin: 0 auto;"} Editar
  %br

  = render 'form'


  .container{:style => "margin: 0 auto;"}
    = link_to 'Volver', gcolors_path, :class => "waves-effect waves-light btn blue"


= render :partial => 'layouts/footer'
-# END OF FOOTER
