.nested-fields
  .input-field{:class => "col m8"}
    %i.material-icons.prefix email
    = f.label :email, "Correo"
    = f.text_field :email,
                :class=> 'validate',
                :type => 'email'
    = link_to_remove_association "-", f, class: "", style: "font-size: 50px;"
