%header


-# MAIN

%main
  = render :partial => 'layouts/top_navbar'

  -# CONTENT

  %br
  %h3{:style => "margin: 0 auto; text-align: center;"}
    -# %i.material-icons{:style => "margin: 8px; font-size:46px;"} check
    Bienvenido
  %br


    .card.container.center-align{:style => "margin: 0 auto; max-width:48%;"}
      %br
      = image_tag "logo.png", :class => "logo-big"
      -# %span.ripplelink.xpurple
      -#   %a{:href => orders_path} Ordenes
      -# %span.ripplelink.xpurple
      -#   %a{:href => clients_path} Clientes
      -# %span.ripplelink.xpurple
      -#   %a{:href => suppliers_path} Suplidores
      -# -if current_user.role_level == 1
      -#   %span.ripplelink.xpurple
      -#     %a{:href => admin_index_path} Administración



  /*max-width:90% for wide screen*/
  -# .card.container.row{:style => "margin: 0 auto; background-color: rgba(220, 220, 245, 0); box-shadow: 0 0 0 0; zoom:81%"}
  -#   .row
  -#     .col.s12.m7{:style => "width: 426.66px;"}
  -#       .card
  -#         %a.ripplelink{:href => orders_path}
  -#           .card-image
  -#             =image_tag "categories.jpg", :style => "height: 161.469px;"
  -#             %span.card-title{:style => "background: rgba(0, 0, 0, 0.21); padding: 7px; bottom: 10px;"}
  -#               Consultar Ordenes
      -# .col.s12.m7{:style => "width: 426.66px;"}
      -#   .card
      -#     %a{:href => orders_orders_completed_path}
      -#       .card-image
      -#         =image_tag "green_bg.jpg", :style => "height: 161.469px;"
      -#         %span.card-title{:style => "padding: 10px;"}
      -#           Ordenes Completadas
      -#           %i.material-icons.right{:style => "margin: 8px; font-size:85px;"} check
      -# .col.s12.m7{:style => "width: 213.33px;"}
      -#   .card
      -#     %a{:href => orders_orders_test_path}
      -#       .card-image
      -#         =image_tag "blue_bg.jpg", :style => "height: 161.469px;"
      -#         %span.card-title{:style => "padding: 10px;"}
      -#           Ordenes en Prueba
      -#           %i.material-icons.right{:style => "margin-top: -10px; font-size:85px;"} assignment
      -# .col.s12.m7{:style => "width: 426.66px;"}
      -#   .card
      -#     %a{:href => orders_orders_process_path}
      -#       .card-image
      -#         =image_tag "yellow_bg.jpg", :style => "height: 161.469px;"
      -#         %span.card-title{:style => "padding: 10px;"}
      -#           Ordenes en Proceso
      -#           %i.material-icons.right{:style => "margin: 8px; font-size:85px;"} schedule
      -# .col.s12.m7{:style => "width: 213.33px;"}
      -#   .card
      -#     %a{:href => orders_orders_urgent_path}
      -#       .card-image
      -#         =image_tag "red_bg.jpg", :style => "height: 161.469px;"
      -#         %span.card-title{:style => "padding: 10px;"}
      -#           Ordenes Urgentes
      -#           %i.material-icons.right{:style => "margin-top: -10px; font-size:85px;"} today
      .col.s12.m7{:style => "width: 426.66px;"}
        .card
          %a.ripplelink{:href => clients_path}
            .card-image
              =image_tag "dentists1.jpg", :style => "height: 161.469px;"
              %span.card-title{:style => "background: rgba(0, 0, 0, 0.21); padding: 7px; bottom: 10px;"}
                Clientes
                -# %i.material-icons.right{:style => "margin: 8px; font-size:94px;"} check
      -# .col.s12.m7{:style => "width: 426.66px;"}
      -#   .card
      -#     .card-image
      -#       =image_tag "categories.jpg", :style => "height: 161.469px;"
      -#       %span.card-title{:style => "background: rgba(0, 0, 0, 0.21); padding: 7px; bottom: 10px;"}
      -#         Otros Servicios
              -# %i.material-icons.right{:style => "margin: 8px; font-size:94px;"} check
      -# .col.s12.m7{:style => "width: 426.66px;"}
      -#   .card
      -#     %a{:href => consulta_index_path}
      -#       .card-image
      -#         =image_tag "summary-forms.jpg", :style => "height: 161.469px;"
      -#         %span.card-title{:style => "background: rgba(0, 0, 0, 0.21); padding: 7px; bottom: 10px;"}
      -#           Consultas
                -# %i.material-icons.right{:style => "margin: 8px; font-size:94px;"} check
      .col.s12.m7{:style => "width: 426.66px;"}
        .card
          %a.ripplelink{:href => suppliers_path}
            .card-image
              =image_tag "dental-supplies.jpg", :style => "height: 161.469px;"
              %span.card-title{:style => "background: rgba(0, 0, 0, 0.21); padding: 7px; bottom: 10px;"}
                Suplidores
                -# %i.material-icons.right{:style => "margin: 8px; font-size:94px;"} check




-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER

-#
-# :javascript
-#   $('#searchbar').prepend('');
