%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'

  -# CONTENT

  %div{:style => "width:90%; margin: 0 auto;transform: scale(1.0);"}
    = render :partial => 'layouts/tooth_chart'


-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
