%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'

  -# CONTENT

  -# %div{:style => "width:90%; margin: 0 auto;transform: scale(1.0);"}
  -#   = render :partial => 'layouts/tooth_chart'



  %br
  %h3{:style => "margin: 0 auto; text-align: center;"}
    %i.material-icons{:style => "margin: 8px; font-size:46px;"} check
    Ordenes Completadas
  %br
  .row.container.card{:style => "margin: 0 auto;"}
    %table.highlight#orders_t

      %thead
        %tr
          %th{"data-field" => "id"} Nombre del Cliente
          %th{"data-field" => "name"} Fecha de Entrega
          %th{"data-field" => "price"} Notas del Cliente

      %tbody
        %tr
          %td Ejemplo
          %td Ejemplo
          %td Ejemplo
        %tr
          %td Ejemplo
          %td Ejemplo
          %td Ejemplo
        %tr
          %td Ejemplo
          %td Ejemplo
          %td Ejemplo


    %br
    .div
      %ul.pagination{:style => "margin: 0 auto; text-align: right;"}
        %li.disabled
          %a{:href => "#!"}
            %i.material-icons chevron_left
        %li.active
          %a{:href => "#!"} 1
        %li.waves-effect
          %a{:href => "#!"} 2
        %li.waves-effect
          %a{:href => "#!"} 3
        %li.waves-effect
          %a{:href => "#!"}
            %i.material-icons chevron_right


  %br
  %br
  %br
  %h3{:style => "margin: 0 auto; text-align: center;"}
    %i.material-icons{:style => "margin: 8px; font-size:46px;"} traffic
    Ordenes Recientes
  %br
  .row.container.card{:style => "margin: 0 auto;"}
    %table.centered.highlight#orders_t
      %thead
        %tr
          %th{"data-field" => "id"} Nombre del Cliente
          %th{"data-field" => "name"} Fecha de Entrega
          %th{"data-field" => "price"} Notas del Cliente
      %tbody
        %tr
          %td Ejemplo
          %td Ejemplo
          %td Ejemplo
        %tr
          %td Ejemplo
          %td Ejemplo
          %td Ejemplo

    %br
    .div
      %ul.pagination{:style => "margin: 0 auto; text-align: right;"}
        %li.disabled
          %a{:href => "#!"}
            %i.material-icons chevron_left
        %li.active
          %a{:href => "#!"} 1
        %li.waves-effect
          %a{:href => "#!"} 2
        %li.waves-effect
          %a{:href => "#!"} 3
        %li.waves-effect
          %a{:href => "#!"}
            %i.material-icons chevron_right



-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
