%header

-# MAIN

%main
  %nav
    .nav-wrapper
      %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li
          %a{:href => "#"} Opciones
        %li
          %a{:href => "#"} Pruebas
        %li
      %ul#slide-out.side-nav
        %li
          %a{:href => "#"} Clientes
        %li
          %a{:href => "#"} Pacientes
        %li
          %a{:href => "#"} Administración
        %li
          %a{:href => "#"} Cerrar Sesión


      -# END OF SIDEBAR MENU
      -# CONTENT
  %br
  %br

  %div{:style => "width:25%; margin: 0 auto;"}
    = render :partial => 'layouts/tooth_chart'




-# END OF MAIN
-#
-#
-#
-#
-# FOOTER

%footer.page-footer
  .container
    %p.grey-text.text-lighten-4{:style => "margin-top: 0;margin-bottom: 0; font-family: 'Bauhaus'; font-size: 33px;"} EURODENTAL LAB [Development Mode]


-# END OF FOOTER
