%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} EuroDental Lab System
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Link 1
      %li
        %a{:href => "#"} Link 2
      %li
        %a{:href => "#"} Link 3



%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml

%div{:class => "collection" }
  %a{:href => "#", :class => "collection-item" }
    %li testing
  %a{:href => "#", :class => "collection-item" }
    %li testing
  %a{:href => "#", :class => "collection-item" }
    %li testing

.content
  %a{:href => "#", :class => "waves-effect waves-light btn" }
    test

  %div{:class => "card"}
    %div{:class =>"card-content"}
      %p I am a content
