%header


%main
  %nav
    .nav-wrapper 
      %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li
          %a{:href => "#"} Opciones
        %li
          %a{:href => "#"} Pruebas
        %li
      %ul#slide-out.side-nav
        %li
          %a{:href => "#"} Clientes
        %li
          %a{:href => "#"} Pacientes
        %li
          %a{:href => "#"} Administración
        %li
          %a{:href => "#"} Cerrar Sesión


  %br
  %br
  %br

  .container
    %form.col.s12
      .row
        .input-field.col.s6
          %input#first_name.validate{:type => "text"}
            %label{:for => "first_name"} Cliente
        .input-field.col.s6
          %input#last_name.validate{:type => "text"}
            %label{:for => "last_name"} Codigo
      .row
        .input-field.col.s6
          %input#tel{:type => "text"}
            %label{:for => "password"} Tel.
        .input-field.col.s6
          %input#email.validate{:type => "email"}
            %label{:for => "email"} E-mail
      .row
        .input-field.col.s6
          %input.datepicker{:type => "date"}
            %label{:for => "Date"} Fecha


.fixed-action-btn.horizontal.click-to-toggle{:style => "bottom: 70px; right: 10px;"}
  %a.btn-floating.btn-large.red
    %i.large.material-icons add
  %ul
    %li
      %a.btn-floating.red
        %i.material-icons insert_chart
    %li
      %a.btn-floating.yellow.darken-1
        %i.material-icons format_quote
    %li
      %a.btn-floating.green
        %i.material-icons publish
    %li
      %a.btn-floating.blue
        %i.material-icons attach_file





%footer.page-footer
  .container
    %p.grey-text.text-lighten-4{:style => "margin-top: 0;margin-bottom: 0; font-family: 'Bauhaus'; font-size: 33px;"} EURODENTAL LAB


