.col.s12
  = form_for @order do |f|
    - if @order.errors.any?
      #error_explanation
        -flash[:'notice'] = "Orden no pudo ser procesada "
        -# %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
        -# %ul
        -#   - @order.errors.full_messages.each do |msg|
        -#     %li= msg

    = render "#{@order.current_step}", :f => f

    %br
    %br

    // Submit Buttons
    -# .actions.container{:style => "margin: 0 auto;"}
    -#   = f.submit "Volver", :name => "back_button" unless @order.first_step?

    -if @order.first_step? == false
      %button.btn.waves-effect.waves-light#order_submit{:name => "back_button", :type => "submit", data: { disable_with: "Procesando.." }}
        %i.material-icons.right chevron_left
        Volver
    - elsif @order.first_step? == true
      %a{:href => orders_path, :class => "waves-effect waves-light btn blue left tabfactura_back"}
        Volver

      -# %a{:href => orders_path, :class => "waves-effect waves-light btn blue", :name => "back_button"}
      -#   %i.material-icons.right chevron_left
      -#   Volver
      -# = f.submit "Siguiente"
      %button.btn.waves-effect.waves-light#order_submit{:name => "action", :type => "submit ", data: { disable_with: "Procesando..." }}
        %i.material-icons.right save
        Siguiente




    -# %a{:href => "#test2", :class => "waves-effect waves-light btn blue right tabfactura"}
    -#   %i.material-icons.right chevron_right
    -#   Siguiente
    -# %a{:href => "#test2", :class => "waves-effect waves-light btn-floating btn-large blue right tabfactura"}
    -#   %i.material-icons.right chevron_right
