-# .nested-fields.collection-item.avatar
-#   %i.material-icons.circle.green.modal-trigger{:href => "#services_modal_s"} polymer
-#   %a
-#     Orden!
-#     .container.modal.modal-fixed-footer{:id => "services_modal_s"}
-#       -# .input-fields{:class => "col m6 s6"}
-#       -#   = f.text_field :color, :placeholder => "Color"
-#       -# .input-fields{:class => "col m6 s6"}
-#       -#   = f.number_field :cant, :placeholder => "Cantidad"
-#       -# .input-fields{:class => "col m3 s8"}
-#       -# .input-fields{:class => "col m3 s8"}
-#       -# .input-fields{:class => "col m3 s8"}
-#       -# .input-fields{:class => "col m3 s8"}
-#       -# .input-fields{:class => "col m3 s8"}
-#       -# .input-fields{:class => "col m3 s8"}
-#       %h4{:style => "color: black; text-align: center; font-weight: bold;"}
-#         Servicios
-#
-# 
-#
-#       .input-fields{:class => "col m12 s6"}
-#         %ul.collapsible{"data-collapsible" => "accordion"}
-#           %li
-#             .collapsible-header
-#               %i.material-icons> filter_drama
-#               Tipo de Trabajo
-#             .collapsible-body
-#               %p
-#                 - Item.where(category_id: 1).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#           %li
-#             .collapsible-header
-#               %i.material-icons> place
-#               Material
-#             .collapsible-body
-#               %p
-#                 = hidden_field_tag "order[item_ids][]", nil
-#                 - Item.where(category_id: 2).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#           %li
-#             .collapsible-header
-#               %i.material-icons> whatshot
-#               Color de Muñon
-#             .collapsible-body
-#               %p
-#                 - Item.where(category_id: 3).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#           %li
-#             .collapsible-header
-#               %i.material-icons> whatshot
-#               Color
-#             .collapsible-body
-#               %p
-#                 - Item.where(category_id: 4).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#           %li
-#             .collapsible-header
-#               %i.material-icons> repeat
-#               Procedimiento
-#             .collapsible-body
-#               %p
-#                 Procedimiento
-#                 - Item.where(category_id: 5).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#           %li
-#             .collapsible-header
-#               %i.material-icons> label_outline
-#               Metales
-#             .collapsible-body
-#               %p
-#                 - Item.where(category_id: 6).find_each do |item|
-#                   %br
-#                   = check_box_tag "order[item_ids][]", item.id, @order.item_ids.include?(item.id), id: dom_id(item)
-#                   = label_tag dom_id(item), item.name
-#                   RD$
-#                   = label_tag dom_id(item), item.price
-#
-#
-#
-#
-#       .modal-footer
-#         %a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left{:href => "#!"}
-#           Limpiar
-#           %i.material-icons{:class => "small"} restore
-#         %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
-#           Salvar
-#           %i.material-icons{:class => "small"} done
-#
-#
-#
-#     %p.secondary-content
-#       = link_to_remove_association "Quitar", f, class: "form-button btn btn-default"
-#
-#
-# -# %a.collection-item.avatar.modal-trigger{:href => "#services_modal"}
-# -#   %img.circle{:alt => "", :src => "assets/eu-tooth.png"}
-# -#   .nested_fields
-# -#     .fields
-# -#       = f.check_box :coronoa
-# -#       = f.label :coronoa
-# -#     -# %span.title Title
-# -#     -# %p
-# -#     -#   First Line
-# -#     -#   %br/
-# -#     -#   Second Line
-# -#     -# %p.secondary-content
-# -#     -#   $0.00
-# -#     = link_to_remove_association "remove service", f
-# -#
-#
-#
-# -# %i.material-icons.left{:style => "color: gray; font-size:40px;"} add
-# :javascript
-#   $('.modal-trigger').leanModal();
-#     $(document).ready(function(){
-#     $('.collapsible').collapsible({
-#       accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
-#     });
-#   });
