.modal.modal-fixed-footer#services_modal
  .modal-content
    %h4{:style => "color: black;"}
      Otros Servicios

    %form{:action => "#"}
      Servicio Pre-definidos
      %p
        %input#pre1{:type => "checkbox"}/
        %label{:for => "pre1"} X
      %p
        %input#pre2{:type => "checkbox"}/
        %label{:for => "pre2"} Y

      %br

    .row
      %form.col.s12
        .row
          .input-field.col.s8
            %input#test{:type => "text", :placeholder => "Descripción"}/
            %label{:for => "test"} Servicio Personalizado
          .input-field.col.s4
            %input#test2.validate{:type => "number", :value => "0.00", :placeholder => "%"}/
            %label{:for => "test2"}



  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left{:href => "#!"}
      Limpiar
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
      Agregar
      %i.material-icons{:class => "small"} send
