.modal.modal-fixed-footer#services_modal
  .modal-content
    %h4
      Seleccionar Servicios
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left{:href => "#!"}
      Limpiar
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
      Agregar
      %i.material-icons{:class => "small"} send
