.row.card.container{:style => "margin: 0 auto;"}
  %div{:class => "col s6 m6 s12"}
    = render :partial => 'layouts/tooth_chart'

  .container.right#order_collection{:class => "col s6 m6 s12"}
    %ul.collection
      = f.fields_for :items do |item|
        = render 'item_fields', f: item
      .links
        = link_to_add_association 'Agregar', f, :items, class: "btn"
        .collection.right
          %a.collection-item.modal-trigger{:href => "#details_modal"} $0.00



%br



:css
  .card{
      background-color: ghostwhite;
  //    border-radius: 30px;
    }
  td {
  //  white-space: pre;

  }

:javascript
  $( document ).ready(function(){
    document.getElementById("step_1").classList.add("complete");
    });
  $('.modal-trigger').leanModal();
