.row.card.container{:style => "margin: 0 auto;"}
  .col.s12.m7{:style => "width: 426.66px;"}
    .card
      .card-image
        =image_tag "summary-forms.jpg", :style => "height: 161.469px;"
        %span.card-title Factura
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m7{:style => "width: 426.66px;"}
    .card
      .card-image
        =image_tag "papers.jpg", :style => "height: 161.469px;"
        %span.card-title Cotizacion
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m7{:style => "width: 426.66px;"}
    .card
      .card-image
        =image_tag "dentalreport1.jpg", :style => "height: 161.469px;"
        %span.card-title Stickers
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m7{:style => "width: 426.66px;"}
    .card
      .card-image
        =image_tag "stock-email.jpg", :style => "height: 161.469px;"
        %span.card-title Email
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link

:css
   .card{
      background-color: ghostwhite;
     // border-radius: 30px;
    }

:javascript
  $( document ).ready(function(){
    document.getElementById("step_1").classList.add("complete");
    document.getElementById("step_2").classList.add("complete");
    document.getElementById("step_3").classList.add("complete");
    });
