%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h4.container{:style => "margin: 0 auto;"} Nueva Orden
  %br

  .modal.modal-fixed-footer#services_modal
    .modal-content
      %h4
        Seleccionar Servicios
    .modal-footer
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left{:href => "#!"}
        Limpiar
      %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"}
        Agregar
        %i.material-icons{:class => "small"} send

  .container.col.s12
    %ul.tabs
      %li.tab.col.s3
        %a.active{:href => "#test1"} Detalles de la Orden
      %li.tab.col.s3.disabled#invoice_tab
        %a{:href => "#test2"} Servicios
  #test1.col.s12{:style => "margin: 0 auto;"}
    = render 'form'
  #test2
    .row.card.container{:style => "margin: 0 auto"}
      %div{:class => "col s6 m6 s12"}
        = render :partial => 'layouts/tooth_chart'
      .collection.with-header.right{:class => "col s6 m6 s12 "}
        %h4.collection-header
          Detalles
        %a.collection-item Description {Corona, Implante, etc...} + $
        %a.collection-item Description {Corona, Implante, etc...} + $
        %a.collection-item Description {Corona, Implante, etc...} + $
        %a.collection-item.active{:style => "font-size: 20px;"} +
        %a.collection-item.right{:style => "font-weight: bolder; font-size: 25px;"}
          Total: $0000.00
          %a.secondary-content{:href => "#!"}
        %br
    %br
    .container
      %a{:href => "#test1", :class => "waves-effect waves-light btn-floating btn-large blue right tabfactura_back"}
        %i.material-icons.right chevron_left

  -# CONTENT
  -# = render 'form'
  %br
  -# = link_to 'Back', orders_path






-# END OF MAIN

-# FOOTER


= render :partial => 'layouts/footer'
-# END OF FOOTER
