%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br
  %h3.container{:style => "margin: 0 auto;"} Nuevo Servicio
  %br

  = render 'form'

  -# = link_to 'Back', items_path


= render :partial => 'layouts/footer'
-# END OF FOOTER
