@font-face {
  font-family: 'Bauhaus';
  // src:  font-url('Bauhaus_.ttf');
  // src:  local('Bauhaus'),
  //       font-url('Bauhaus_.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
