// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$in_process: #2175de;
$in_urgent: #ff5555;
$in_test_pending: #ffb380;
$in_paid: #55aa60;
$in_null: #ac9d93;



#show_icons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#show_icons:active {
  width: 80px;
}

#show_icons_only:active {
  color: #2175de;
}


.in_process {
	background-color: $in_process;
}

.in_urgent{
	background-color: $in_urgent;
}

.in_test_pending{
	background-color: $in_test_pending;
}

.in_paid{
	background-color: $in_paid;
}

.in_null{
	background-color: $in_null;
}

.chip {
	font-size: 15px;
}
