.tooth-chart {
  width: 450px;
  padding-left: 5%;
  // position: absolute;
}
#Spots polygon,
#Spots path {
  -webkit-transition: fill .25s;
  transition: fill .25s;
}
// #Spots polygon:hover,
// #Spots polygon:active,
// #Spots path:hover,
// #Spots path:active {
//   fill: #dddddd !important;
// }
