#svg_chart{
height: 560px;
width: 29em;
}
.tooth-chart {
  width: 400px;
  margin: 0 auto;
  // padding-left: 5%;

  // position: absolute;
}
#Spots polygon,
#Spots path {
  -webkit-transition: fill .25s;
  transition: fill .25s;
}
// #Spots polygon:hover,
// #Spots polygon:active,
// #Spots path:hover,
// #Spots path:active {
//   fill: #dddddd !important;
// }
#chart_container {
border-radius: 10px;
height: 666px;
  @media only screen and (min-width: 990px)
   {
    max-width: 450px;
  }

  // @media only screen and (max-width: 800px)
  //  {
  //   margin: 100%;
  // }
  // @media only screen and (min-width: 900px)
  //  {
  //   margin: auto 100px auto auto;
  // }
}

#total_price {
  border-radius: 5px;
  margin: 24px 0px 5px 5px;
  font-size: 23px;
  p {
    text-align: right;
  }
}

#subtotal_price {
  background-color: #c8a0d5;
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
  top: 40px;
  p {
    text-align: right;
  }
  input {
    color: #000000;
    text-align: center;
    font-size: 20px;
  }

}
#total_price_f {
  border-radius: 5px;
  background-color: #c8a0d5;
  color: #000000;
  text-align: center;
  font-size: 25px;
}

#service_total_f {
  border-radius: 5px;
  background-color: #c8a0d5;
  color: #000000;
  text-align: center;
  font-size: 20px;
}

.collapsible-body {
  box-sizing: content-box;
}

.select-wrapper{
  display: inline-flex;

}

