%li.collection-item
  %i.material-icons.prefix perm_identity
  = current_user.email
  Ha agregado un cliente nuevo -
  - if activity.trackable
    %b Detalle:
    = link_to activity.trackable.name, activity.trackable
    %b Fecha:
    = activity.created_at.strftime("%m/%d/%Y - %I:%M%p")
  -# - else
  -#   Ha Eliminado un cliente
%br
