%li.collection-item
  %i.material-icons.prefix perm_identity
  %span{:style => "color: red;"}
    = current_user.email
  Ha Actualizado un cliente
  - if activity.trackable
    %b Detalle:
    = link_to activity.trackable.name, activity.trackable
    %b Fecha:
    = activity.created_at.strftime("%m/%d/%Y - %I:%M%p")

%br
