%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %h1.container Editar Suplidor
  %br


  = render 'form'

-# = link_to 'Show', @supplier
-# \|
-# = link_to 'Back', suppliers_path



-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
