%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'
  %br


  %br
  %h3.container{:style => "margin: 0 auto;"} Nuevo Suplidor
  %br


  = render 'form'


= render :partial => 'layouts/footer'
-# END OF FOOTER
