%header

-# MAIN

%main
  = render :partial => 'layouts/top_navbar'

  -# CONTENT

  -# %div{:style => "width:90%; margin: 0 auto;transform: scale(1.0);"}
  -#   = render :partial => 'layouts/tooth_chart'

  %br
  %h3{:style => "margin: 0 auto; text-align: center;"}
    %i.material-icons{:style => "margin: 8px; font-size:46px;"} equalizer
    Reportes
  %br







  .row.col.m12.container{:style => "margin: 0 auto;"}
    .col.s6{:style => "width: 426.66px;"}
      .card
        .card-image
          =image_tag "summary-forms.jpg", :style => "height: 161.469px;"
          -# %span.card-title Report Title
        .card-content
          %p
            Ordenes Por Pagar
        .card-action
          %a{:href => reports_orders_unpaid_path} Consultar
    .col.s6{:style => "width: 426.66px;"}
      .card
        .card-image
          =image_tag "papers.jpg", :style => "height: 161.469px;"
          -# %span.card-title Report Title
        .card-content
          %p
            Ordenes Consolidadas
        .card-action
          %a{:href => reports_orders_paid_path} Consultar
    -# .col.s12.m7{:style => "width: 426.66px;"}
    -#   .card
    -#     .card-image
    -#       =image_tag "pendingbalance.jpg", :style => "height: 161.469px;"
    -#       -# %span.card-title Report Title
    -#     .card-content
    -#       %p
    -#         Reporte de Balances pendientes
    -#     .card-action
    -#       %a{:href => reports_pending_balance_path} Consultar






-# END OF MAIN

-# FOOTER

%footer.page-footer
  = render :partial => 'layouts/footer'
-# END OF FOOTER
