%footer.page-footer
  :javascript
    $( document ).ready(function(){
      $(function() {
          Materialize.updateTextFields();
      });
      $(".button-collapse").sideNav();
      $('select').material_select();
      $('.tooltipped').tooltip({delay: 25});
      $('ul.tabs').tabs();
      $('input#input_text, textarea#textarea1').characterCounter();
      $('.modal-trigger').leanModal();
      $('.datepicker').pickadate({
      	// Strings and translations
      	selectMonths: true, // Creates a dropdown to control month
      	selectYears: 15, // Creates a dropdown of 15 years to control year
      	monthsShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
      	monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      	weekdaysShort: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
      	weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      	// Buttons
      	today: 'Hoy',
      	clear: 'Borrar',
      	close: 'Cerrar',

      	// Accessibility labels
      	labelMonthNext: 'Siguiente Mes',
      	labelMonthPrev: 'Mes Anterior',
      	labelMonthSelect: 'Seleccionar Mes',
      	labelYearSelect: 'Seleccionar Año',
      });

      $(".tabfactura").click(function() {
        document.getElementById("invoice_tab").className = document.getElementById("invoice_tab").className.replace(/\bdisabled\b/,'');
        $('ul.tabs').tabs('select_tab', 'test2');

      });
      $(".tabfactura_back").click(function() {
        $('ul.tabs').tabs('select_tab', 'test1');

      });

      /*Changes Order Date to disabled and clear date if exist*/
      $("#order_coti").click(function() {
                if (this.checked == true) {
                  document.getElementById("order_order_date").disabled = "disabled";
                  document.getElementById("order_order_date").value = "";
                }
                else{
               	  document.getElementById("order_order_date").disabled = "";
                 }
          });


    });



  .container
    %p.grey-text.text-lighten-4.right{:style => "margin-top: 0;margin-bottom: 0; font-family: 'Bauhaus'; font-size: 20px;"} EURODENTAL LAB
