= search_form_for @search do |f|
  .input-field.right.hide-on-small-only{:center => ""}
    = f.number_field :id_eq, :placeholder => "Buscar...",
                                      :required => "",
                                      :type => "search",
                                      :style => "height: 63px; margin: 0;",
                                      :id => "search"
    %label{:for => "search"}
      %i.material-icons search
