%nav.nav-fixed
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
      %i.material-icons menu
    %ul.left
      %li
        %a.tooltipped{:href => root_path, "data-tooltip" => "Inicio", "data-position" => "bottom"}
          %i.material-icons home
      %li
        %a.tooltipped{:href => new_order_path, "data-tooltip" => "Nueva Orden", "data-position" => "bottom"}
          %i.material-icons local_hospital
    %ul.right
      %li
        %a.tooltipped{:href => admin_index_path, "data-tooltip" => "Ajustes", "data-position" => "bottom"}
          %i.material-icons settings
    .input-field.right.hide-on-small-only{:center => ""}
      %input#search{:placeholder => "Buscar...", :required => "", :type => "search", :style => "height: 63px; margin: 0;"}
        %label{:for => "search"}
          %i.material-icons search
    %ul#slide-out.side-nav
      %li
        %a.tooltipped{:href => root_path, "data-tooltip" => "Inicio", "data-position" => "right"} Inicio
      %li
        %a.tooltipped{:href => clients_path, "data-tooltip" => "Listado de Clientes", "data-position" => "right"} Clientes
      %li
        %a.tooltipped{:href => orders_path, "data-tooltip" => "Listado de Ordenes", "data-position" => "right"} Ordenes
      %li
        %a.tooltipped{:href => reports_index_path, "data-tooltip" => "Generar Reportes", "data-position" => "right"} Reportes
      %li.inactiveLink
        %a.tooltipped{:href => "#", :style => "color: darkgrey;", "data-tooltip" => "En Desarrollo", "data-position" => "right"} Contabilidad
      %li
        %a.tooltipped{:href => admin_index_path, "data-tooltip" => "Categorías y Servicios", "data-position" => "right"} Administración
      = link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete, :class => "btn btn-default red btn-flat", :id => "logoutnav-bar")
