%nav
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a.tooltipped{:href => root_path, "data-tooltip" => "Inicio", "data-position" => "bottom"}
          %i.material-icons home
      %li
        %a.tooltipped{:href => "#", "data-tooltip" => "Opciones", "data-position" => "bottom"}
          %i.material-icons settings
    .input-field.right.hide-on-med-and-down{:center => ""}
      %input#search{:placeholder => "Buscar...", :required => "", :type => "search"}
        %label{:for => "search"}
          %i.material-icons search
    %ul#slide-out.side-nav
      %li
        %a.tooltipped{:href => clients_path, "data-tooltip" => "Listado de Clientes", "data-position" => "right"} Clientes
      %li
        %a.tooltipped{:href => orders_path, "data-tooltip" => "Listado de Ordenes", "data-position" => "right"} Ordenes
      %li.inactiveLink
        %a.tooltipped{:href => "#", :style => "color: darkgrey;", "data-tooltip" => "En Desarrollo", "data-position" => "right"} Reportes
      %li.inactiveLink
        %a.tooltipped{:href => "#", :style => "color: darkgrey;", "data-tooltip" => "En Desarrollo", "data-position" => "right"} Administración
      %li
        %a.tooltipped{:href => "#", "data-tooltip" => "Cerrar Sesión", "data-position" => "right"}
          %i.material-icons power_settings_new
