%nav
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Opciones
      %li
        %a{:href => "#"} Pruebas
      %li
    %ul#slide-out.side-nav
      %li
        %a{:href => "#"} Clientes
      %li
        %a{:href => "#"} Pacientes
      %li
        %a{:href => "#"} Administración
      %li
        %a{:href => "#"} Cerrar Sesión
