%nav
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", :href => "#", :class => "button-collapse show-on-large"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Opciones
      %li
        %a{:href => root_path} Inicio
    .input-field.right.hide-on-med-and-down{:center => ""}
      %input#search{:placeholder => "Buscar...", :required => "", :type => "search"}
        %label{:for => "search"}
          %i.material-icons search
    %ul#slide-out.side-nav
      %li
        %a{:href => clients_path} Clientes
      %li
        %a{:href => "#"} Pacientes
      %li
        %a{:href => "#"} Administración
      %li
        %a{:href => "#"} Cerrar Sesión
